* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-one: hsl(158, 36%, 37%);
    --primary-two: hsl(30, 38%, 92%);
    --neutral-one: hsl(212, 21%, 14%);
    --neutral-two: hsl(228, 12%, 48%);
    --neutral-three: hsl(0, 0%, 100%);
}

#page-container {
    background-color: var(--primary-two);
    height: 100vh;
    width: 100vw;
    padding: 1rem;
}

p {
    font-size: 14px;
}

#item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-three);

}

#item-image {
    background-image: url("images/image-product-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 33%;
    width: 100%;
}

#item-detail {
    padding: 1rem;
}

.item-category {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--neutral-two)  
}

.item-name {
    font-family: 'Fraunces', serif;
}

.item-description {
    font-family: 'Montserrat', sans-serif;
    color: var(--neutral-two)  
  

}

.pricing-div {
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.current-price {
    font-size: 1.5rem;
    color: var(--primary-one)
}

.previous-price {
    text-decoration:line-through;
}

button {
    border: 0;
    background-color: var(--primary-one);
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: var(--neutral-three)
}